" 行番号出力
set nu
" ctags検索用
set tags=./.tags
" viとの互換性off
set nocompatible

" NeoBundle初期火曜
if has('vim_starting')
   " 初回起動時のみruntimepathにneobundleのパスを指定する
   set runtimepath+=~/.vim/bundle/neobundle.vim/
endif

" NeoBundleを初期化
call neobundle#begin(expand('~/.vim/bundle/'))

" 良さそうなプラグイン
NeoBundle 'Shougo/unite.vim'
NeoBundle 'Shougo/vimfiler'

" シンタックスチェック
NeoBundle 'scrooloose/syntastic'

" XDebug用
NeoBundle 'joonty/vdebug'

" Golang用
NeoBundle 'fatih/vim-go'

call neobundle#end()

" ファイルタイプ別のプラグイン/インデントを有効にする
filetype plugin indent on
